section {
	width: 48%;
	float: left;
	border-style: outset;
	border-width: 5px;
	margin-bottom: 20px;
}

section h1 {
	font-family: sans-serif;
}

section h2 {
	font-family: verdana;
}

section p {
	font-family: 'Brush Script MT';
}
.csym019, .csym020 {
	background-color: aqua;
}

.csym015, .csym016 {
	background-color: yellow;
	float: right;
}